:root {
    --background-color: #1F2938;
    --text-color: #F0FFFF;
    --sub-text-color: #D5D4D7;
    --titl-text-passwords-color: #FCD34D;
    --help-text-color: #333;
    --button-background: #FBBF24;
    --button-hover-background: #E8A920;
}

.light-mode {
    --background-color: #FFF1F2;
    --text-color: #2B283B;
    --sub-text-color: #C0BFBF;
    --titl-text-passwords-color: #FCA9B0;
    --help-text-color: #E6E6E6;
    --button-background: #FB7185;
    --button-hover-background: #E85D72;
}

.theme-switch-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    width: 34px;
    height: 20px;
    margin: 10px;
    position: relative;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--sub-text-color);
}

input:checked+.slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
    min-width: 400px;
    min-height: 600px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#box {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #2C3B4F;
    border-radius: 1px;
    background-color: var(--background-color);
    align-items: center;
    max-width: 400px;
}

#content {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    user-select: none;
    min-width: 400px;
}

#subtitle {
    font-family: "PT Sans Caption", Arial, Helvetica, sans-serif;
    font-size: 13.2px;
    line-height: 28px;
    padding-top: 20px;
    padding-left: 5.5px;
    color: var(--sub-text-color);
    margin-bottom: 0;
}

#title {
    font-family: "Baloo 2", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
    margin-bottom: 0;
    margin-top: -20px;
}

.title-1 {
    color: var(--text-color);
    margin-bottom: 0;
}

.title-2 {
    color: var(--titl-text-passwords-color);
    margin-top: 5px;
}

#setters {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    margin-top: 15px;
}

#generate-password-button {
    font-family: "Baloo 2", Arial, Helvetica, sans-serif;
    padding-right: 1px;
    height: 48px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--button-background);
    border: none;
    border-radius: 10px;
    color: #F0FFFF;
    font-size: 13px;
    margin-bottom: 30px;
}

#generate-password-button:hover {
    cursor: pointer;
    background-color: var(--button-hover-background);
}

#lock-icon {
    width: 14.4px;
    height: 14.4px;
    transition: transform 0.5s;
}

.locked {
    transform: rotate(360deg);
}

.password-length {
    height: 48px;
    width: 64px;
    border-radius: 10px;
    color: var(--button-background);
    border: 1px solid var(--text-color);
    font-family: "PT Sans Caption", Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin-right: 145px;
    -moz-appearance: textfield;
}

::placeholder {
    color: var(--button-background);
    opacity: 1;
}

.password-length::-webkit-outer-spin-button,
.password-length::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
    height: 15;
    width: 5;
}

#help {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    justify-content: start;
}

#number-of-chars-subtitle {
    padding-left: 188.75px;
    margin-top: -25px;
    font-family: "PT Sans Caption", Arial, Helvetica, sans-serif;
    font-size: 6px;
    color: var(--text-color);
}

#help-icon {
    width: 8px;
    height: 8px;
    margin-top: -25px;
    margin-left: 2px;
    cursor: pointer;
}

.help-text {
    display: none;
    font-family: "PT Sans Caption", Arial, Helvetica, sans-serif;
    font-size: 7.25px;
    color: var(--text-color);
    background-color: var(--help-text-color);
    height: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-top: -30px;
    margin-left: 5px;
}

#help-icon:hover+.help-text,
#help-icon:focus+.help-text {
    display: block;
}

hr.solid {
    border: none;
    border-top: 1px solid #2F3E52;
    max-width: 390px;
    margin-top: 20px;
    margin-left: 5px;
    height: 0;
}

#passwords {
    padding-left: 1px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12.5px;
    max-width: 400px;
}

#passwords li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--button-background);
    color: #F0FFFF;
    font-size: 12px;
    border-radius: 10px;
    height: 60px;
    width: 180px;
}

#passwords li:hover {
    background-color: var(--button-hover-background);
    cursor: pointer;
}